@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Philly Transit View</h1>
    <p>This site displays upcoming times for SEPTA train stations and bus stops.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Favorite</h2>
        <ul>
            <li>Main St & Levering St</li>
            <li><a asp-controller="Train" asp-action="Stop">Manayunk</a></li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Closest</h2>
        <ul>
            <li><a asp-controller="Train" asp-action="Stop">Manayunk</a></li>
            <li><a asp-controller="Train" asp-action="Stop">Manayunk</a></li>
            <li><a asp-controller="Train" asp-action="Stop">Manayunk</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Recent</h2>
        <ul>
            <li><a asp-controller="Train" asp-action="Stop">Manayunk</a></li>
            <li><a asp-controller="Train" asp-action="Stop">Manayunk</a></li>
            <li><a asp-controller="Train" asp-action="Stop">Manayunk</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Transit View Home Page -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3197088090856230"
             data-ad-slot="7750231519"
             data-ad-format="auto"></ins>
        <script>
(adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
